<html xmlns:th="https://www.thymeleaf.org" 
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/defaultLayout}">
	<head>
    	<meta charset="UTF-8">
    	<title>Genre Registration</title>
    </head>
	
	<body>
		<div layout:fragment="content">
			
			<!-- Container -->
			<div class="container-sm mt-5 flex-container">
				<div class="flex-child">
					<form th:action="@{doGenreRegistration}" th:object="${genreModel}" method="post" class="needs-validation" novalidate>
						<!-- Name -->
						<div class="mv-3">
							<label for="genre_name" class="form-label">Genre Name</label>
							<input type="text" th:field="*{genre_name}" placeholder="e.g. Sci-fi"
									class="form-control" data-bs-toggle="tooltip" title="Enter a genre name">
							<div class="text-danger" th:if="${#fields.hasErrors('genre_name')}" th:errors="*{genre_name}">Errors</div>
						</div>
						
						<hr/>
						<!-- Submit -->
						<div class="d-flex justify-content-center">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>			
					</form>
				</div>
			</div> 
		</div>
	</body>
</html>