<html xmlns:th="https://www.thymeleaf.org" 
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/defaultLayout}">
	<head>
    	<meta charset="UTF-8">
    	<title>Genres</title>
    </head>
	
	<body>
		<div layout:fragment="content">
			
			<!-- Container -->
			<div class="container-sm">
				<table style="width:100%;">
					<!-- Head -->
					<thead>
						<tr>
							<th style="text-align:center;">Genre ID</th>
							<th style="text-align:center;">Name</th>
						</tr>
					</thead>
					
					<!-- Body -->
					<tbody>
						<!-- Is Empty -->
						<tr th:if="${genres.empty}">
							<td>No registered genres.</td>
						</tr>
						<!-- Has Entries -->
						<tr th:each="genre : ${genres}">
							<td style="text-align:center;"><span th:text="${genre.genre_id}">Genre ID</span></td>
							<td style="text-align:center;"><span th:text="${genre.genre_name}">Genre Name</span></td>
						</tr>
					</tbody>
				</table>
			</div>
			
		</div>
	</body>
</html>