<html xmlns:th="https://www.thymeleaf.org" 
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layouts/defaultLayout}">
	<head>
    	<meta charset="UTF-8">
    	<title>Genres</title>
    </head>
	
	<body>
		<div layout:fragment="content">
			
			<!-- Container -->
			<div class="container-sm">
				<table class="container-table">
					<!-- Head -->
					<thead>
						<tr>
							<th style="text-align:center;">Genre ID</th>
							<th style="text-align:center;">Name</th>
						</tr>
					</thead>
					
					<!-- Body -->
					<tbody>
						<!-- Is Empty -->
						<tr th:if="${genres.empty}">
							<td>No registered genres.</td>
						</tr>
						<!-- Has Entries -->
						<tr th:each="genre : ${genres}">
							<td style="text-align:center;"><span th:text="${genre.genre_id}">Genre ID</span></td>
							<td style="text-align:center;"><span th:text="${genre.genre_name}">Genre Name</span></td>
						</tr>
					</tbody>
				</table>
				
				<form action="/genres/select" method="get">
					<!-- Include the offset to preserve selection -->
					<input type="hidden" name="offset" th:value="${offset}" />					
													
					<!-- Previous -->
					<button type="submit" name="direction" value="prev" th:if="${hasPrevious}">Previous</button>
												
					<label>Limit:</label>
					<select name="limit" onchange="this.form.submit()">
						<option value="25" th:selected="${limit == 25}">25</option>
						<option value="50" th:selected="${limit == 50}">50</option>
						<option value="75" th:selected="${limit == 75}">75</option>
						<option value="100" th:selected="${limit == 100}">100</option>
					</select>
													
					<!-- Next -->
					<button type="submit" name="direction" value="next" th:if="${hasNext}">Next</button>					
				</form>
			</div>
		</div>
	</body>
</html>